Source: fingerterm
Section: user/other
Priority: optional
Maintainer: Heikki Holstila <heikki.holstila@gmail.com>
Build-Depends: debhelper (>= 5), libc6-dev, libqt4-dev, libmeegotouch-dev
Standards-Version: 3.7.3
Homepage: http://hqh.unlink.org/harmattan

Package: fingerterm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openssh-client
Description: A terminal emulator with a custom virtual keyboard
 A terminal emulator with a custom virtual keyboard and usability-enhancing
 features such as URL grabber, pan gestures and customizable shortcut menu.
 Designed especially to be used with screen and irssi.
XSBC-Maemo-Display-Name: FingerTerm
XB-MeeGo-Desktop-Entry-Filename: fingerterm
XB-Maemo-Flags: visible
XB-MeeGo-Desktop-Entry:
 [Desktop Entry]
 Type=Application
 Name=FingerTerm
 Icon=/usr/share/icons/hicolor/80x80/apps/fingerterm.png
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz
 AAALEwAACxMBAJqcGAAAC+lJREFUeJztXG1sHMUZfmZmd8++fDkmoQ6xnZOgBpKSXKgomFjKORH8
 QtRJVVX8SXICItxesPMrFEWYqBT4UYiTGJKqpUlU8QMigUutRiUSdwET0waaU1UlqFbiSwKBqJg4
 kbiP3dmZ/riP7J7vY+989p0tHmmkm5l33pl97n3nexf4HlMCmamK/jE87JWK4mGEeEHpIkqpFwAY
 IR7KmKccncI0I6aUEQAQQoQhxHVTyjDhPHJ/R0e4cq3Pj2kh8Eww2JCor/cxQtZTRfGqiuJL53HO
 IaWEME0AgBACQghbeSnlpDRKKQghk9IopcnfjIEQAkVRMvkG5yHBediU8qQrFgut7eycqOiDooIE
 joyMeBghXYqibFUUxSulBDdNCNME5xxmirCZAmMMiqKAMgYlRS7nPMw5P2pKOdje3h6pRD1TJnBk
 ZMSnqWqPqihdQggYnIMbxowTVgyMMSiqClVRQCmFwfmgbhj72tvbQ1PRWzaBKeL6mKL4uGHAMAxw
 zqfSlhmDoihQVRWKqsLkPKQbxp5yiSyZwGAw2OB2u/s0Ve3lhoF4PA4pZTl1Vx2EENTV1UFRVeiG
 0R+NRvd0lthPlkTg8PCw1+VyvUsBTywWqzk3LReMMdTX10MAkUQisamjhBHcMYEjw8PbtLq6w4au
 I55IALPU6vKCENS5XFA1DXo87m/v6DjiqJgToZHh4W2qy3U4Ho9D1/UptbPWoWka6urqYCQSjkgs
 SuDwyZPbtPr6w/FYDIZhVKSRtQ5VVVFXXw89FvN3rF9/pJBsQQKHg0Gv5naficfjMOa45WVDTVmi
 Ho2u7ejszNsn5iUwGAw2uDTtjDBNTzwen55W1jjq6upAGYskdH1tvtFZyZUIAIyxPkjpiUaj09fC
 Gkc0GsX8+fM9jLE+ADtzyeS0wGAw6HNpWjD63XdzZqpSLhhjcM+bh4Sud3Z2doay83NaIKO0z9D1
 nCuLsbExvNrfj8jYGB5++GHsCAQq3+oaAucchq6DUdoHIJSdT7MTgidO+AghvmgsBiHlpPCfs2cx
 OjoKg3O8f+JETpm5FqKxGAghvuCJE75sviZZIGGsxzCMSdtJaVjTCSGzdhlXCqSUMAwDlLEeZFmh
 zQKDx497CKVduq5DSpkzzHO7M/KqquaVm2tB13UQSruCx497rJzZLNBU1S6YJniBCbN1U5MQMveW
 dHnADQNC05IcAf3pdBuBBNiq63pe9wUwyWULyc416LoORVW3wkJgxoWDwWADAbyGYRQ1Zyuq7Voz
 GQzDAAG8wWCwIf38GQtMJBI+hdLim6I5CCwHXZs3AwAG33mnrPLVAOccQghwzn0ABgELgUTK9Ubq
 wKcQsnPLJbBS5WcaBueghKxHNoEgxGtyPomgbEwicIoNml30AaZpgqqqNx2/SaCUPm4YkMUGhewj
 yCkOIibnmaPJ2QBuGLAe0yoAMDQ0lDyGdHAoVK4LX7lyBSc//BAXxsYwNjaWSf/FY49h8eLFaGxs
 REtLC1atXImVd9+NpUuXOtI700ifaw8NDXkfeeSRsAIARAiPdLiqsMnkGJWzEYvHcezYMfzt+PGc
 GxNCCIyPj2N8fByjo6P44IMPAADH3nqrlOeaUUgpQYTwAEgSCEK83MEAkk9ZIRw6dAinRkYqrrea
 4MluxwtgUAEAKeUiIUTJFihR+EE//vhjG3mEEPzkvvvw00cfxbO7dwMAjh4+jGvXruHaxASuXLmC
 c+fO4dznn9c0gUIIEEIWAak+UEjp3AJLmAee+uQTW3xDZyeefOIJW5rL5UJTUxOamppw9113YeOG
 DUX1Vhucc5DU5ai0BRa1pjRKGUQuXbpki7c/8EDOlcxsg5Wr5PxBCM9UpyO5cOPGDVt8/vz5Fa+j
 GpBCAMlBJEmgBDzpZUqxkE10Idnly5fbZP/wxhu4dPmybQPCSZ21FnhyweEBrC7sYEqSItseL1Cm
 ra0N58+fz8TPnz+PXc88g2YLsRcvXkRra2vRemsJVq7Sg0jSr50ULhK3YlNXFz49fRr/++YbW/oX
 X36Z+f3s7t1obGzEmjVr8ON778WaNWsctKK6kEhyBqQtMOWajvrBEpZydS4Xent68Mc33sBYJJJX
 7ttvv0UwGEQwGMTKlSuxbcsWNDU1FW9LlSBx87kzi9DpGg1bWlrwfF8fnnz8cdx1551gjBWUP3v2
 LJ7dvRvh8IxccS4LVq4yFigcnv9OmoY4HL071q1Dx7p1SCQS+O/oKH736qsAgMUNDbg2YT/055zj
 T0eO4MUXXrCdwdQKJllgqTuzNmUlltU0DT9atSpTfu8rr2DPc89h9T332PROTEzgr0NDVd+FLsYD
 BQBTSgjAUch2dKflsoO1fMuKFejt7cXtt99u0x25eLFs/dMdTOsgAinLP12bat9pKd/p89mmPV9/
 /XXtnvrZRuFUZDq2s0rRt2b1alteLBaryaWe9UJByQRW6lApV3nr/BAAmpuba57A0gcRiyJZpOyL
 L7+MTz/7DKZp5h2I0vFYLIa33n7b1tDW1taqDxTFBpHkSiS1F1iyC+eIW3HhwgUc+v3vccstt6Bj
 3Tosv+02/KCpCUuXLMnIRCIRnPzoI5w+fRqJRCKT7na78dDGjTVpgVLefBWt5LVwOS48Pj6Ov7z3
 XiZuvR7y25deylnGv3UrGhsba5ZAmwtDykj2i3yVwDO7duGB+++3vQCYbkA+3NnWhl/v2oXVWQNK
 LSF1JygCpC0QiEgpPU7uuYishy9UZkVrK7Zu2YKfbd6Mf54+jctffIGrV6/i6tWrSF8dXrJkCZqX
 L0dzczN+eMcdaGtrK6q32qCUQgIRwLIb43gumC3joMz8efOwwefLxE3TRKCnBwDwm+efL1lf1SFl
 xpDSLhwGIZktrUJhkq4yAizdRTnlqx2QdOEwkLJAQsh1x6NwdrwMi8mexsw2SClBCLkO3FzKhZ1e
 1y1lGuO0MbMNJNsCIUTE6bnwdK5EZguEEAAhESBFoH/79vCh118HUPyBKuHCALC/v7/k8k/39pZV
 V766y0HaU/3bt1ssEAABQoQQX7HpQ6VduBqYSpsppSCWm/o375UREp6OyfRcAyEEICRz3nBziUDp
 SQC9Rf+dKlpgf+oYYKqYcpuTXAGwEKhpWshILeYLVWDLqcB+4GxCuv/TNC2UTssQ6Pf7J17bvz9M
 CfGahfrBLML+ffXnuJFoqXhjZwotC09hxSJn1+9S/V/Y7/dnTsFsd2sJIUdL7QdnM3kAcPnGg45l
 CSEghBy1ptkJVJTBlJBjpQtdlx3L1iJaFp5yJJfmhSjKoC09W3BgYOBdYRhd+d4T/teZM/jzm29m
 4u76+pIaXEvQXC48tHEjHmxvLyrLGANV1cFAILDJmj7pbU3G2D7JeVc+Re6sg+5oLOa8xTWGaCyG
 v7//viMCCSFgjO3LTp/0fkF3d3eIUBrKdwVj2bJluPXWW8tpb01ileWQPx8YYyCUhrq7u0PZebnf
 WCdkjyDElytv0cKF+OVTT+Grr77CbP+egtvtxrJly4oLEgJGyJ6cWfnKvLZ//17TNHu//2YCA2Os
 /1dPP53zoxN5XxFyL1iwhxASmU1vEVUaqY8+RtwLFuS0PqAAgX6/f8KlKJtKndbMFaSf26Uom6wT
 52wUNK/tgUBYVVV/rs9vzmUQQkAphaqq/u2BQMGLio5YOTgwsM0wjMOON11nMazkdQcCR4rJO+rg
 ugOBI5Qx/1x35/TzUcYckQeU+AHGgYEBr9D1dyXg6Ax5NiG1URChmrYpUMRtbeVKqSQQCIRNQtYy
 RemfK/1i2mWZovSbhKwthTxgCh+hPXDggE8K0SdN0+f4Xk0NIbM5wFiIULpnx44dobL0TLUhBw4c
 8AnT7JGm2QXU/hlJ2msIY4OUsX3lEpfRV4lGAcDBgwc9XNe7hGlulVJmvilQbUKzPhQUpowdVTRt
 sLu7O1IR/ZVQko29e/c2aIz5TCHWS8ArTdNnzZ8uUrP7ZMJYiABhRulJ3TRDO3furN1PwRfDwMCA
 lwjhEVJ6pZSLJJC0UtP0yNSLe6WCABEwFkn9DhNCrlNCwpLSSKmDwfeoEv4PzkKXcKOscjIAAAAA
 SUVORK5CYII=
