[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=FingerTerm
GenericName=FingerTerm
Comment=Terminal emulator
Exec=/usr/bin/invoker --single-instance --type=e /opt/fingerterm/bin/fingerterm
Terminal=false
Type=Application
Icon=/usr/share/icons/hicolor/80x80/apps/fingerterm.png
